
@model List<mothercare.Data.Tbl_Slider>
@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="../Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Slider</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Slider Details
            <a href="../Admin/SliderAdd" class="btn btn-info btn-sm pull-right"><i class="fa fa-plus"></i> Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="datatablesSimple" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Slider Path</th>
                            <th>Title</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Slider Path</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>@(Model.IndexOf(item)+1)</td>
                            <td>@item.SliderPath</td>
                            <td>@item.Title</td>
                            <td> @Html.ActionLink("Edit", "SliderEdit", new { sliderId = item.SliderId })</td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
