
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sign Up | Mothercare</title>
    <link href="~/Content/SignUpStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style type="text/css">
        #Text1 {
            width: 269px;
            height: 51px;
            margin-left: 8px;
            margin-top: 8px;
        }

        #Text2 {
            width: 253px;
            height: 51px;
            margin-left: 30px;
            margin-top: 0px;
        }
    </style>
</head>
<body>

    <div class="background">


        <div class="form-box">
            <div class="text-box1">
                <form class="user" id="form14" onsubmit="SaveUser()">
                    &nbsp;<input type="text" class="form-control form-control-user" id="firstname" placeholder="First Name" required>
                    <input type="text" class="form-control form-control-user" id="lastname" placeholder="Last Name" required>&nbsp;
                    <input type="email" class="form-control form-control-user" id="email" placeholder="E-mail" onchange="CheckEmail()" required>
                    <p style=" position: absolute; width: 511px; height: 52px; left: 14px; top: 160px;" id="Status"></p>
                    <input type="tel" class="form-control form-control-user" id="phone" placeholder="Phone" required>
                    <input type="text" class="form-control form-control-user" id="address" placeholder="Address" required>&nbsp;&nbsp;
                    <input type="password" class="form-control form-control-user" id="password" placeholder="Password" required />
                    <button id="Button2" class="btn btn-primary btn-user btn-block">

                        Sign Up

                    </button>
                    <a style="position: absolute; width: 302px; height: 65px; left: 220px; top: 540px;cursor:pointer; font-weight:bold; font-size:medium" onclick="location.href='@Url.Action("Login", "Home")';return false;">
                        Already a member?
                    </a>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function CheckEmail() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckEmailAvailable", "Home")",
            {
                userdata: $("#email").val()
            },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Available!</font>');
                    $("#email").css("border-color", "Green");
                }
                else {
                    $("#Status").html('<font color="Red">Already Taken!</font>');
                    $("#email").css("border-color", "Red");
                }
            }

        );
    }

    $('#form14').submit(function () {
        SaveUser()
        return false;
    });
    function SaveUser() {
        var user = new Object();
        user.EmailId = $("#email").val();
        user.Password = $("#password").val();
        user.FirstName = $("#firstname").val();
        user.LastName = $("#lastname").val();
        user.Phone = $("#phone").val();
        user.Address = $("#address").val();
        var data = JSON.stringify({
            user: user
        });
        $.ajax({

            contentType: 'application/json; charset=utf-8',

            dataType: 'json',

            type: 'POST',

            url: "/Home/SaveUser",

            data: data,
            async: false,

            success: function (result) {
                if (result == true) {
                    window.location.href = "/Home/Login";
                }

                else {
                    alert("Save failed!");
                }

            },

            error: function () {

                alert("Error!")

            }

        });

    }
    </script>
</body>
</html>